python app.pyen-core-web-sm@ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
nltk
numpy
pandas
pdfplumber
pytesseract
tesseract
scikit-learn
sentence-transformers
spacy
streamlit
opencv-python-headless
Pillow
python-docx
mpmath
sympy
safetensors
pyyaml
networkx
fsspec
filelock
torch
huggingface-hub
tokenizers
transformers