/* Streamlit Custom Styling */
h1 {
    font-size: 36px;
    text-align: center;
    color: #FF4B4B;
}

.stTextArea, .stFileUploader {
    border-radius: 10px;
    border: 2px solid #FF4B4B;
}

div.stButton button {
    background-color: #FF4B4B;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.stDataFrame {
    border-radius: 10px;
    border: 2px solid #FF4B4B;
}
